#navbarNav {
    display: flex;
    justify-content: space-between;
}

.required-input-tag {
    color: red;
}

.table-content,
.form-content,
.search-content {
    margin-top: 50px;
}

.page-button {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 5px;
}

.page-list {
    margin-bottom: 50px;
}